# macOS
.DS_Store

# Node
node_modules/
dist/
build/
.next/
.nuxt/
out/
coverage/

# Env
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/


